/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(contacto.jpg);
}

h1 {
    text-align: center;
    color: #ffbb00;
}
header {
    background-color: #333;
    color: #ffbb00;
    padding: 20px;
    text-align: center;
}
.lotr-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Estilos específicos de El Señor de los Anillos */
.lotr-form {
    background-color: #ffbb00;
    border: 2px solid #9e8a75;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lotr-form label {
    color: #000000;
}

.lotr-form input[type="text"],
.lotr-form input[type="email"],
.lotr-form input[type="tel"],
.lotr-form textarea,
.lotr-form select {
    background-color: #fff;
}

.lotr-form button[type="submit"] {
    background-color: #000000;
}

.lotr-form button[type="submit"]:hover {
    background-color: #ff9100;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar li a {
    color: #ffbb00;
    text-decoration: none;
}

.nav-bar li a:hover {
    text-decoration: underline;
}
.form-group select::-ms-expand {
    display: none;
}

.form-group button {
    padding: 10px 20px;
    background-color: #ED572A;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.alert-container {
    margin-top: 20px;
}

.alert {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}