body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url(59121.jpg);
  }
  
  
  h1 {
    font-size: 36px;
    margin: 20px 0;
    color: #f1c604;
  
  }
  
  h2 {
    
    color: #ffffff;
  }
  
  p {
    line-height: 1.5;
    color: #ffffff;
  }
  
  h3 {
    color: #ffffff;
   ;
  }
  
  ul {
    margin-left: 20px;
  }
  
  a {
    color: #ffffff;
  }
  
  a:hover {
    color: #ffffff;
  }
  header {
    background-color: #333;
    color: #ffbb00;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar li a {
    color: #ffbb00;
    text-decoration: none;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

ul{
    color: white;
}