/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fondo-conntent.jpg) ;
    
}

header {
    background-color: #333;
    color: #ffbb00;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar li a {
    color: #ffbb00;
    text-decoration: none;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    
}

h2 {
    margin-top: 0;
}

.book-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.movie-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.book-images img,
.movie-images img {
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clear {
    clear: both;
}
p{
    color: white;
}

h2{
    color: white;
}
h3{
    color: white;
    
}
h4{
    color: white;
}

footer{
    text-align: center;
}

