body {
	font-family: Arial, sans-serif;
	background-image: url(frodofondo.jpg);
	margin: 0;
	padding: 0;
}

.container {
	max-width: 400px;
	margin: 100px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
}

h1 {
	color: #e4bb08;
	margin-bottom: 20px;
}
h2{
	margin-bottom: 20px;
}

form {
	margin-top: 20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #666;
}

input {
	width: 100%;
	padding: 10px
}
header {
    background-color: #333;
    color: #ffbb00;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar li a {
    color: #ffbb00;
    text-decoration: none;
}

.nav-bar li a:hover {
    text-decoration: underline;
}
